
svg {
	width: 100%;
	height:100vh;
}

@font-face{
	font-family:'Colaborate Thin';
	src: url('../assets/fonts/colaborate-thin.otf') format('opentype');
}

body, html {
	padding: 0px;
	margin: 0px;
}

body, h1, h2, h3, h4 {
	font-family: 'Colaborate Thin', Fallback, sans-serif;
}

h1 {
	font-size: 46px;
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

h2 {
	color: #555;
}

.relationship {
	stroke: #999;
	stroke-width: 1px;
	stroke-opacity: 0.8;
}

.relationship.uses {
	stroke: #0f0;
	stroke-width: 1px;
}

.relationship.extends {
	stroke: #f90;
	stroke-width: 2px;
}

.node {
	stroke: #fff;
	stroke-width: 2px;
	cursor: pointer;
}

.node-text {
	stroke: #323232;
	stroke-width: .5;
	font-size: 10px;
	pointer-events: none;
}

.node.fixed {
	stroke: #f00;
}

.search, .details {
	padding: 4px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Colaborate Thin', Fallback, sans-serif;
	font-size: 17px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

.class-name {
	padding: 0px;
	margin: 0px;
}

.details span {
	font-weight: bold;
}

.node-warning {
	fill: #e7ba52;
}

.node-error {
	fill: #d6616b;
}

.node-class {
	fill: #6b6ecf;
}

.node-folder {
	fill: #637939;
}

.node-file {
	fill: #cedb9c;
}

.node-module {
	fill: #5254a3;
}

